<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="    text-align: center;
  padding: 15px;">
    <img src="../../assets/images/logo.jpeg" alt="" class="profile-img">
  </div>

  <div class="container">

    <div>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-field">
        <ion-label>Name : </ion-label>
        <ion-input placeholder="Name of user"></ion-input>
      </ion-item>

    </div>

  </div>

</ion-content>
