<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="animate__animated animate__fadeOut animate__delay-1s" style="position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 13%;
  margin-top: 45%;">
    <img src="../../assets/images/logo.jpeg" alt="" style="height: 280px;
    width: 280px;
    border-radius: 50%;">
  </div>

  <div style="text-align: center; margin-top: 55%; padding: 20px;" class="animate__animated animate__fadeIn animate__delay-2s">
    <ion-item lines="none" class="input-field">
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-field">
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>

    <div style="padding: 5px 0px;">
      <ion-button shape="round" expand="block" style="--background: #ff6e50; height: 52px;" type="submit" (click)="signin()">signin</ion-button>
    </div>
  </div>

</ion-content>

<!-- <div class="Main-Container">
  <div style="text-align: center;">
    <h1>Sign In</h1>
  </div>

  <div style="justify-content: left;">
    <p style="font-weight: 600;">Email address *</p>
    <input placeholder="Enter email" type="text" class="Input-Field">

    <p style="font-weight: 600;">Password *</p>
    <input placeholder="Enter Password" type="password">
  </div>

  <div style="justify-content: center;">
    <button style="background-color: cornflowerblue; color: white; font-weight: 600;">SIGN IN</button>
  </div>

</div>

.Main-Container {
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px darkgrey;
}

.Input-Field {
border: 1px solid grey;
border-radius: 10px;
margin: 10px;
padding: 10px;
} -->

