ion-content {
    --background: #1A222F;
}
.input-field{
    border: 2px solid #ff6e50;
    border-radius: 25px;
    background: #36343585;
    height: 52px;
    margin-bottom: 20px;
    color: black;
    --background: #D6E2E3;
    --ion-color-base: transparent !important;
}